<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generador de Información</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .column {
            width: 48%;
        }
        input[type="text"], textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        .readonly {
            pointer-events: auto;
            background-color: #f0f0f0;
            cursor: pointer;
        }
        .line {
            border-bottom: 1px solid #ccc;
            margin: 20px 0;
        }
        .section-title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
        }
        .section-line {
            border-bottom: 1px solid #ccc;
            width: 50%;
            margin: 10px 0;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-right: 10px;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .btn-secondary {
            background-color: #6c757d;
        }
        .btn-secondary:hover {
            background-color: #5a6268;
        }
        .generated-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
        .generated-container-inner {
            display: flex;
            justify-content: space-between;
        }
        textarea {
            height: 120px; /* Ajusta la altura según sea necesario */
        }
        .boton_interno {
            background: #6c757d;
            border: 0;
            border-radius: 5px;
            color: white;
            padding: 7px;
            position: absolute;
            right: 0px;
            top: 7px;
            font-size: 10px;
        }

        .pt-site-footer {
            position: relative;
            display: inline-block;
            width: 100%;
        }
    </style>
    <script>
        function copyToClipboard(element) {
            navigator.clipboard.writeText(element.value).catch(function(err) {
                console.error('Error al copiar al portapapeles: ', err);
            });
        }

        function clearFields() {
            document.getElementById('expediente').value = '';
            document.getElementById('procedimiento').value = '';
            document.getElementById('nombre').value = '';
            document.getElementById('nie').value = '';
            document.getElementById('nig').value = '';

            document.getElementById('identificador_gen').value = '';
            document.getElementById('codigo_procedimiento_gen').value = '';
            // document.getElementById('organos_gen').value = '';
            document.getElementById('interesado_gen').value = '';
            document.getElementById('nombre_natural_gen').value = '';
            // document.getElementById('correo_gen').value = '';
            document.getElementById('nig_gen').value = '';
            document.getElementById('asunto_gen').value = '';
            document.getElementById('unidad_organica_gen').value = '';
            document.getElementById('procedimiento_num_gen').value = '';
            document.getElementById('destinatarios_gen').value = '';
            document.getElementById('texto_personalizado_gen').value = '';
        }

        async function formatExpediente() {
            let expediente = document.getElementById('expediente').value;
            if (expediente.length > 2 && expediente.indexOf('/') === -1) {
                document.getElementById('expediente').value = expediente.slice(0, 2) + '/' + expediente.slice(2);
            }
        }

        async function formatProcedimiento() {
            let procedimiento = document.getElementById('procedimiento').value;
            let len = procedimiento.length;
            if (len > 5 && procedimiento.indexOf('.') === -1) {
                document.getElementById('procedimiento').value = procedimiento.slice(0, len - 5) + '.' + procedimiento.slice(len - 5, len - 1) + '.' + procedimiento.slice(len - 1);
            }
        }

        // function validateNIGLength() {
        //     const nig = document.getElementById('nig').value;
        //     if (nig.length !== 4) {
        //         alert('El NIG debe tener exactamente 4 dígitos.');
        //         return false;
        //     }
        //     return true;
        // }

        // function validateNIGLength() {
        //     const nig = document.getElementById('nig').value;
        //     if (nig.length !== 4) {
        //         alert('El NIG debe tener exactamente 4 dígitos.');
        //         return false;
        //     }

        //     const expediente = document.getElementById('expediente').value;
        //     const expedienteRegex = /^\d{2}\/\d+$/;
        //     if (!expedienteRegex.test(expediente)) {
        //         alert('El Expediente debe tener el formato correcto: dos dígitos + "/" + dígitos indeterminados.');
        //         return false;
        //     }

        //     const procedimiento = document.getElementById('procedimiento').value;
        //     const procedimientoRegex = /^\d+\.\d{4}\.\d{1}$/;

        //     if (!procedimientoRegex.test(procedimiento)) {
        //         alert('El Procedimiento debe tener el formato correcto: números + "." + cuatro dígitos + "." + números.');
        //         return false;
        //     }

        //     return true;
        // }

        function validateNIGLength() {
            const nigInput = document.getElementById('nig');
            const nigValue = nigInput.value.trim();
            const nigRegex = /^\d{4}$/;

            const expedienteInput = document.getElementById('expediente');
            const expedienteValue = expedienteInput.value.trim();
            const expedienteRegex = /^\d{2}\/\d+$/;

            const procedimientoInput = document.getElementById('procedimiento');
            const procedimientoValue = procedimientoInput.value.trim();
            const procedimientoRegex = /^\d+\.\d{4}\.\d{1}$/;

            const nieInput = document.getElementById('nie');
            const nieValue = nieInput.value.trim();
            const nieRegex = /^[XYZ]\d{7}[A-Z]$/;

            if (!nigRegex.test(nigValue)) {
                alert('NIG debe tener exactamente 4 dígitos.');
                return false;
            }

            if (!expedienteRegex.test(expedienteValue)) {
                alert('Expediente debe tener el formato NN/N+.');
                return false;
            }

            if (!procedimientoRegex.test(procedimientoValue)) {
                alert('Procedimiento debe tener el formato N+.NNNN.N.');
                return false;
            }

            if (!nieRegex.test(nieValue)) {
                alert('NIE debe tener el formato X1234567A, Y1234567B o Z1234567C.');
                return false;
            }

            return true;
        }


        async function pasteClipboardContent() {
            try {
                const text = await navigator.clipboard.readText();
                const parts = text.split('\t');
                if (parts.length === 2) {
                    document.getElementById('expediente').value = parts[0];
                    document.getElementById('procedimiento').value = parts[1];

                    const expedienteParts = parts[0].split('/');
                    const expedienteYearCode = expedienteParts[0];
                    const expedienteNumCode = expedienteParts[1].padStart(7, '0');

                    const expLargo = "380020" + expedienteYearCode + expedienteNumCode;

                    // Mando primero el Numero de Expediente a ver si se me queda grabado en Clipjump
                    await navigator.clipboard.writeText(parts[0]);
                    // Ahora el expediente largo
                    await navigator.clipboard.writeText(expLargo);

                } else {
                    alert('El contenido del portapapeles no tiene el formato esperado.');
                }
            } catch (error) {
                console.error('Error al leer el portapapeles:', error);
            }
        }

        document.getElementById('boton_interno').addEventListener('click', async () => {
            await pasteClipboardContent();
            formatExpediente();
            formatProcedimiento();
            const codigoProcedimiento2 = document.getElementById('codigo_procedimiento_gen').value;
            await navigator.clipboard.writeText(codigoProcedimiento2);
        });

        document.getElementById('boton_interno_2').addEventListener('click', () => {
            copyToClipboard(document.getElementById('procedimiento'));
        });

        document.querySelectorAll('.readonly').forEach(element => {
            element.addEventListener('click', () => copyToClipboard(element));
        });

    </script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <h1>Generador de Información</h1>
    <form method="POST" onsubmit="return validateForm()">
        <div class="container">
            <div class="column">
                <label for="expediente">Expediente:</label><br>
                <div class="pt-site-footer">
                    <input type="text" id="expediente" name="expediente" tabindex="1" value="{{ expediente }}" required onblur="formatExpediente()">
                    <button type="button" id="boton_interno" class="boton_interno btn btn-secondary"><i class="fa fa-arrow-down"></i></button>
                </div><br>
                
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre" tabindex="3" value="{{ nombre }}" required><br>
                
                <label for="nig">NIG:</label><br>
                <input type="text" id="nig" name="nig" tabindex="5" value="{{ nig }}"required><br>
            </div>
            <div class="column">
                <label for="procedimiento">Procedimiento:</label><br>
                <div class="pt-site-footer">
                    <input type="text" id="procedimiento" name="procedimiento" tabindex="2" value="{{ procedimiento }}" required onblur="formatProcedimiento()">
                    <button type="button" id="boton_interno_2" class="boton_interno btn btn-secondary"><i class="fa fa-clone"></i></button>
                </div><br>
                
                <label for="nie">NIE:</label><br>
                <input type="text" id="nie" name="nie" tabindex="4" value="{{ nie }}" required><br>
            </div>
        </div>
        <button type="submit" class="btn" tabindex="6">Generar</button>
        <button type="button" class="btn btn-secondary" onclick="clearFields()" tabindex="7">Limpiar</button>
    </form>
    <div class="line"></div>



    <h3 class="section-title">Sección Inside - Metadatos</h3>
    <div class="generated-container">
        <div class="column">
            <label for="identificador_gen">Identificador:</label><br>
            <input type="text" id="identificador_gen" class="readonly" value="{{ identificador }}" onclick="copyToClipboard(this)" readonly tabindex="13"><br>

            <label for="interesado_gen">Interesado:</label><br>
            <input type="text" id="interesado_gen" class="readonly" value="{{ nie }}" onclick="copyToClipboard(this)" readonly tabindex="16"><br>
            
            <label for="organos_gen">Órganos:</label><br>
            <input type="text" id="organos_gen" class="readonly" value="EA0040322" onclick="copyToClipboard(this)" readonly tabindex="15"><br>
        </div>
        <div class="column">
            <label for="codigo_procedimiento_gen">Código Procedimiento:</label><br>
            <input type="text" id="codigo_procedimiento_gen" class="readonly" value="{{ codigo_procedimiento }}" onclick="copyToClipboard(this)" readonly tabindex="14"><br>
            
            
            <label for="nombre_natural_gen">Nombre Natural:</label><br>
            <input type="text" id="nombre_natural_gen" class="readonly" value="{{ nombre }}" onclick="copyToClipboard(this)" readonly tabindex="17"><br>
        </div>
    </div>

    <div class="generated-container">
        <div class="column">
            <label for="Nombre1">Nombre_1:</label><br>
            <input type="text" id="Nombre_1" class="readonly" value="1 ACUERDO DEVOLUCION" onclick="copyToClipboard(this)" readonly><br>
        </div>
        <div class="column">
            <label for="Nombre2">Nombre_2:</label><br>
            <input type="text" id="Nombre_2" class="readonly" value="2 RECUROS ALZADA EN TRAMITE" onclick="copyToClipboard(this)" readonly><br>
        </div>
    </div>



    <div class="section-line"></div>
    <h3 class="section-title">Sección Inside - Credenciales Acceso</h3>
    <div class="generated-container">
        <div class="column">
            <label for="correo_gen">Correo:</label><br>
            <input type="text" id="correo_gen" class="readonly" value="recursos-extranjeria.sctenerife@correo.gob.es" onclick="copyToClipboard(this)" readonly tabindex="18"><br>

            <label for="nig_gen">NIG:</label><br>
            <input type="text" id="nig_gen" class="readonly" value="{{ nig }}" onclick="copyToClipboard(this)" readonly tabindex="12"><br>

            <label for="asunto_gen">Asunto:</label><br>
            <input type="text" id="asunto_gen" class="readonly" value="{{ asunto }}" onclick="copyToClipboard(this)" readonly tabindex="21"><br>
        </div>
        <div class="column">
            <label for="unidad_organica_gen">Unidad Orgánica o Juzgado:</label><br>
            <input type="text" id="unidad_organica_gen" class="readonly" value="{{ unidad_organica }}" onclick="copyToClipboard(this)" readonly tabindex="19"><br>

            <label for="procedimiento_num_gen">Número de Procedimiento:</label><br>
            <input type="text" id="procedimiento_num_gen" class="readonly" value="{{ procedimiento_num_padded }}" onclick="copyToClipboard(this)" readonly tabindex="20"><br>
        </div>
    </div>
    <div class="section-line"></div>
    <h3 class="section-title">Almacén</h3>
    <div class="generated-container">
        <div class="column">
            <label for="destinatarios_gen">Destinatarios:</label><br>
            <input type="text" id="destinatarios_gen" class="readonly" value="aetenerife@mjusticia.es" onclick="copyToClipboard(this)" readonly tabindex="22"><br>
        </div>
        <div class="column">
            <label for="texto_personalizado_gen">Texto Personalizado:</label><br>
            <textarea id="texto_personalizado_gen" class="readonly" onclick="copyToClipboard(this)" readonly tabindex="23">{{ texto_personalizado }}</textarea><br>
        </div>
    </div>


    <script>
        async function pasteClipboardContent() {
            try {
                const text = await navigator.clipboard.readText();
                const parts = text.split('\t');
                if (parts.length === 2) {
                    document.getElementById('expediente').value = parts[0];
                    document.getElementById('procedimiento').value = parts[1];

                    const expedienteParts = parts[0].split('/');
                    const expedienteYearCode = expedienteParts[0];
                    const expedienteNumCode = expedienteParts[1].padStart(7, '0');

                    const exp_largo = "380020"+expedienteYearCode+expedienteNumCode;
                    await navigator.clipboard.writeText(exp_largo);


                } else {
                    alert('El contenido del portapapeles no tiene el formato esperado.');
                }
            } catch (error) {
                console.error('Error al leer el portapapeles:', error);
            }
        }

        document.getElementById('boton_interno').addEventListener('click', async () => {
            await pasteClipboardContent(); // Llama a la función para pegar el contenido del portapapeles
            formatExpediente(); // Llama a la función formatExpediente después de que se complete la anterior
            formatProcedimiento(); // Llama a la función formatProcedimiento después de que se complete la anterior
            // await navigator.clipboard.writeText(text); 
        });
        document.getElementById('boton_interno_2').addEventListener('click', () => {
            copyToClipboard(document.getElementById('procedimiento'));
        });

        function validateForm() {
            return validateNIGLength();
        }

    </script>

</body>
</html>
